{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class ="navbar">
        <div class="logo">
            <img src="{%static 'images/logo2.png'%}">
        </div>
        <a href="">TEAMS</a>
        <a href="">INDIVIDUALS</a>
        <a href="">FEATURES</a>
        <a href="">BLOG</a>
        <a href="">CONTENT SPONSORSHIP</a>
        <form class="example" action="#" >
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <a class="sign" href="">SIGN IN</a>
        <a<button class="try">Try Now ></button></a>
    </div>
    <div  class="content">
        <h1>The latest book,<br>
            repots,videos,<br>
            and audiobooks
    
    <br>
   
</body>
</html>